body {
  background-color: green;
}
.toplogo {
  width: 8%;
  margin-left: 1%;
  display: block;
  position: relative;
  top: 1%;
}

.quote {
  text-align: center;
  position: relative;
  top: 160px;

}
  
